<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_classflow_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_classflow_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClassFlow">

        <activity
            android:name=".ui.activity.ManageClassesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ProjectDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StudentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.StudentAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WeekDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ClassDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
